{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Connection Point Status{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th> IP Address </th>
        <th> Port </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
      {% for conn in conns  %}
        {% if filtered == 'True' %}
          {% if conn['status'] is ne(0) %}
            <tr>
              <td>{{ conn['ip'] }}</td>
              <td>{{ conn['port'] }}</td>
              {% if conn['status'] == 0  %}
                <td> OK </td>
              {% else %}
                <td class="text-danger"> failed </td>
              {% endif %}
            </tr>
          {% endif %}
        {% else %}
        <tr>
          <td>{{ conn['ip'] }}</td>
          <td>{{ conn['port'] }}</td>
          {% if conn['status'] == 0  %}
            <td> OK </td>
          {% else %}
            <td class="text-danger"> failed </td>
          {% endif %}
        </tr>
        {% endif %}
      {% endfor %}

    </tbody>
  </table>
  <form>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="exampleCheck1" value="filtered" {% if filtered == 'True' %}checked{% endif %}>
      <label class="form-check-label" for="exampleCheck1">Show only entries with status &quotfailed&quot</label>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
  </form>
{% endblock %}
